<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--<link rel="shortcut icon" href="https://d1muxyjl70gkf5.cloudfront.net">-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16291963-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16291963-4');
    </script>
    
    <!-- Bootstrap's JavaScript requires jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--<link rel="stylesheet" href="https://d2eq5w2spaz17a.cloudfront.net/">-->
    
    <title>{% block title %}Mechanical Meat{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <img src="{{ url_for('static', filename='1044.png') }}" alt="header_pic">
  <nav>
    <h1 style="color:white;">Welcome to Mechanical Meat</h1>
  </nav>
  <section class="content">
    <header>
      <h3>A site with some stuff:</h3>
    </header>
    <h3><a class="action" href="{{ url_for('blog.index') }}">A Multi-Tenant Blog</a></h3>
    <h3><a class="action" href="{{ url_for('about.me', id=117380961625344217728) }}">About Me</a></h3>
    <h3><a class="#" href="{{ url_for('landing.index',_anchor='shop') }}">Shop with items featuring my art</a></h3>
    <header>
      <h3>My presence around the web:</h3>
    </header>
    <h3><a class="action" href="https://stackoverflow.com/users/42346">Stack Overflow</a></h3>
    <h3><a class="action" href="https://twitter.com/mechanical_meat">Twitter</a></h3>
  </section>
  <div class="shop" id="shop">Spreadshop loading...</div>
  <script>
    var spread_shop_config = {
      prefix: 'https://shop.spreadshirt.com',
      shopName: 'mechanical-meat',
      usePushState: false,
      updateMetadata: true,
      baseId: 'shop',
      startToken: '',
    };
  </script>
  <script type="text/javascript" src="https://shop.spreadshirt.com/js/shopclient.nocache.js"></script>
  <script type='text/javascript'>
    $(document).on('click', 'a', function(evt) {
        if(evt.target.hash !== '') {
            $('html, body').animate({ scrollTop: $( evt.target.hash ).offset().top }, 1000);
            evt.target.hash = ''; // this was necessary because URL/#!/shop was being added 
            return false;
        }
    });
  </script>
</body>
</html>
