{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <script>
    $(document).ready(function() {
        $("#click-btn").on('click touchstart', function() {
            $.ajax({
                url: "{{ url_for('blog.thank', title_slug=post['title_slug']) }}",
                method: "POST",
                contentType: "application/json;charset=UTF-8",
                data: {'postid': $('#click-btn').data('data-postid')},
                success: function(response) {
                    console.log(response);
                    $('#click-response').replaceWith(response);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        });
    });
  </script>
{% endblock %}

{% block content %}
  <a class="action" href="{{ url_for('blog.index') }}">Back to home</a>
  <article class="post">
    <header>
      <div>
        <h2>{{ post['title'] }}</h2>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == post['author_id'] or g.user['role_id'] == 2 %}
        <a class="action" href="{{ url_for('blog.update', title_slug=post['title_slug']) }}" style="float:right;">Edit Post</a>
        <a class="action" href="{{ url_for('blog.delete', id=post['id']) }}" style="float:right;" onclick="return confirm('Are you sure?');">Delete Post</a>
      {% endif %}
    </header>
    {{ post['body']|markdown }}
    tags: 
    {% if post['tags'] %}
      {% set tag_list = post['tags'].split(' ') %}
      {% set tag_slug_list = post['tag_slugs'].split(' ') %}
      {% for tag, tag_slug in tag_list|zip(tag_slug_list) %}
        <a href="{{ url_for('blog.tag', page=1, tag_slug=tag_slug) }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
    <p></p>
    <button class="btn btn-secondary" id="click-btn" data-postid="{{ post['id'] }}">Say thanks!</button>
    <p id="click-response">Post thanked {{ thank_count }} time(s).</p>
  </article>
  
  {% if comments %}
    <hr>
  {% endif %}
  <div>
    {% for comment in comments %}
      <div class="about">{{ comment['username'] }} wrote on {{ comment['created'].strftime('%Y-%m-%d') }}:</div>
      {{ comment['body']|markdown }}
      {% if comment['author_id'] == g.user['id'] or g.user['role_id'] == 2 %}
        <form action="{{ url_for('blog.comment_delete', id=comment['id']) }}" method="post">
          <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      {% endif %}
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
  
<!-- user must be logged in to comment -->
{% if g.user['id'] %}
  <hr>
  <h5>New Comment (Markdown allowed)</h5>
  <form action="{{ url_for('blog.create_comment') }}" method="post">
    <div class='form-group'>
      <textarea class="md-textarea form-control" name="body" id="body">{{ request.form['body'] }}</textarea>
      <input type="hidden" id="post_id" name="post_id" value="{{ post['id'] }}">
      <input type="hidden" id="author_id" name="author_id" value="{{ g.user['id'] }}">
    </div>
    <div class='form-group'>
      <button class="btn btn-primary" type="submit" name="submit" value="submit">Save</button>
      <button class="btn btn-secondary" type="cancel" name="submit" value="cancel">Cancel</button>
    </div>
  </form>
{% endif %}

{% endblock %}
