{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('blog.detail', id=post['id']) }}">{{ post['title'] }}</h1></a>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body']|markdown }}</p>
      {% if post['tags'] %}
        {% set tag_list = post['tags'].split(' ') %}
        {% for tag in tag_list %}
          <a href="{{ url_for('blog.tag', page=1, tag_slug=tag) }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
      {% if post['addl_tags'] %}
        {% set addl_tag_list = post['addl_tags'].split(' ') %}
        {% for addl_tag in addl_tag_list %}
          <a href="{{ url_for('blog.tag', page=1, tag_slug=addl_tag) }}">{{ addl_tag }}</a>
        {% endfor %}
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  
  {% if page > 1 %}
    <a href="/page/{{ page - 1 }}" style="float:left;">&lt;&lt; Newer</a>
  {% endif %}
  {% if posts|length == PAGINATION_SIZE and not last_post %}
    <a href="/page/{{ page + 1 }}" style="float:right;">Older &gt;&gt;</a>
  {% endif %}
{% endblock %}
