<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="https://d1muxyjl70gkf5.cloudfront.net">
    <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16291963-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16291963-4');
    </script>
    
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" href="https://d2eq5w2spaz17a.cloudfront.net/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>{% block title %}Mechanical Meat{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <h2><a class="action" href="{{ url_for('index') }}">Home</a></h2>
  <article class="user">
    <header>
      {% if user['profile_pic'] is defined %}
        <img src="{{ user['profile_pic'] }}" alt="profile_pic" height="150" width="150">
      {% endif %}
      <div>
        <h2>{{ user['username'] }} {{ user['familyname'] }}</h2>
      </div>
    </header>
    {% if user['about'] %}
      {{ user['about']|markdown }}
    {% endif %}
  </article>
  {% if g.user['id'] == user['id'] %}
    <a class="action" href="{{ url_for('about.update', id=user['id']) }}">Edit About Me</a>
  {% endif %}
</body>
</html>
