pre code {
  font-family: 'Inconsolata', monospace;
  /*margin-left: 3em;*/ /* this caused wonkiness in the code insertion */ 
  max-width: 580px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  /*font-family: sans-serif;*/
  background: darkgray;
  padding: 0 1rem 0;
  /*position: relative;*/ /* remove space at top of page */
  /*top: -22px;*/ /* remove space at top of page */
}

body {
  font-family: 'Spectral', serif;
  max-width: 720px; /* 960px; */
  background: white;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}*/

/*h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}*/

a {
  color: dodgerblue;
}

div a {
  color: dodgerblue;
}

/*hr {
  border: none;
  border-top: 1px solid lightgray;
}*/

nav {
  /*background: lightgray;*/
  background: #505050;
  /*display: flex;*/
  align-items: left;
  padding: 0 0.5rem;
}

/*nav h1 {
  flex: auto;
  margin: 0;
}*/

nav ul {
  display: flex;
  list-style: none;
  padding: 0 0.5rem;
}

nav ul li a, nav ul li span, header .action {
  /*display: block;*/
  /*color: lightskyblue;*/
  padding: 0 0.5rem;
}

ul {
  margin-left:15px;
}

ul ul {
  margin-left:20px;
}

ul ul ul {
  margin-left:25px;
}

/*p {
    font-size: 1.5rem;
}*/

.content {
  padding: 0 0.5rem 0.5rem;
}

/*.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}*/

.content > header h1 {
  flex: auto;
  /*margin: 0.5rem 0 0.25rem 0;*/
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

/*.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}*/

/*.post > header > div:first-of-type {
  flex: auto;
}*/

/*.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}*/

.post .about {
  /*color: slategray;*/
  font-style: italic;
}

.user {
  padding: 1em 1.5em;
}

/*.post .body {
  white-space: pre-line;
}*/

/*.content:last-child {
  margin-bottom: 0;
}*/

/*.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}*/

/*.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}*/

/*.content input, .content textarea {
  margin-bottom: 1em;
}*/

/*.content textarea {
  min-height: 12em;
  resize: vertical;
}*/

/*pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}*/

input.danger {
  color: #cc2f2e;
  width: 75px;
}

/*input[type=submit] {
  align-self: start;
  min-width: 10em;
}*/
/*
@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}
*/
